.services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-content: center;
}

.Topic {
  font: Sans;
  font-size: 80px;
  margin: 0 auto;
  /* textAlign: 'center', */
  color: #1f4520;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px 100px;
  justify-content: center;
}

.container {
  display: flex;
}

.image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.crop {
  display: flex;
  height: 120px;
  width: 100px;
}

.graph {
  display: flex;
  height: 120px;
  width: 130px;
}

.header-text {
  height: 60px;
}

.card1 {
    display:flex;
    flex-direction: column;
    align-items: center;

  background: -webkit-linear-gradient(#327135, #1d3e43);
  border-radius: 25px;
  font-size: 23px;
  width: 30%;
  height: 400px;
  gap: 28 rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #d9d9d9;
}
.Horizontal-line {
  width: 80%;
  height: 8px;
  background-color: #d9d9d9;
  margin: 0 auto;
}



.card2 {
  background: -webkit-linear-gradient(#327135, #1d3e43);
  border-radius: 25px;
  text-align: center;
  width: 30%;
  height: 400px;
  gap: 28rem;
  font-size: 23px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #d9d9d9;
}

.card3 {
  background: -webkit-linear-gradient(#327135, #1d3e43);
  text-align: center;
  border-radius: 25px;
  width: 30%;
  height: 400px;
  gap: 28 px;
  font-size: 23px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #d9d9d9;
}
